{{define "body"}}<body class="{{template "bodyclass" .}}">
<div class="scs">
<div class="scr hds"><header class="header hdh"><h1><amp-fit-text height="4vh"  layout="fixed-height"><a href="//com-http.us">The World of Crypto-Coins</a>  {{template "cnm" .}}</amp-fit-text></h1></header></div>
<div class="scr mns"><main id="main" role="main" class="main"><div class="lyt">{{template "main" .}}</div></main></div>
<div class="scr fts"><footer class="footer"> FooTeR FooTeR FooTeR FooTeR FooTeR FooTeR </footer></div>
 </div>
</body>{{end}}