{{define "chsrc"}}<form method="GET"  class="p4"  action="/search"  target="_top"><input type="text" class="flb"  placeholder="Search Height, Hash, TxID, Address"  name="chsrc"><input type="submit" value="Search" class="btn btn-primary"></form>{{end}}
{{define "stsrc"}}<form method="GET"  class="p4"  action="/compo"  target="_top"><input type="search"  class="flb" placeholder="Search..." name="googlesearch"><input type="submit" value="Search" class="btn btn-primary"></form>{{end}}