:root {
  --diameter-2: 309.0169943749474px;
  --diameter-3: 190.98300562505258px;
  --diameter-4: 118.03398874989485px;
  --diameter-5: 72.94901687515772px;
  --diameter-6: 45.08497187473712px;
  --diameter-7: 27.864045000420607px;
  --diameter-8: 17.22092687431651px;
  --diameter-9: 10.643118126104094px;
}
body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrap {
  height:256px;
  width:256px;
  position: relative;
}
.circle {
  display: block;
  box-sizing: border-box;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
}
.circle-1 {
  height: 256px;
  width: 256px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.circle-2 {
  height: var(--diameter-2);
  width: var(--diameter-2);
  top: calc(50% - 154.5084971874737px);
  left: calc(50% - 154.5084971874737px);
  -webkit-animation: rot-2 6000ms infinite linear !important;
          animation: rot-2 6000ms infinite linear !important;
}
.circle-3 {
  height: var(--diameter-3);
  width: var(--diameter-3);
  top: calc(50% - 95.49150281252629px);
  left: calc(50% - 95.49150281252629px);
  -webkit-animation: rot-3 3000ms infinite linear !important;
          animation: rot-3 3000ms infinite linear !important;
}
.circle-4 {
  height: var(--diameter-4);
  width: var(--diameter-4);
  top: calc(50% - 59.01699437494742px);
  left: calc(50% - 59.01699437494742px);
  -webkit-animation: rot-4 2000ms infinite linear !important;
          animation: rot-4 2000ms infinite linear !important;
}
.circle-5 {
  height: var(--diameter-5);
  width: var(--diameter-5);
  top: calc(50% - 36.47450843757886px);
  left: calc(50% - 36.47450843757886px);
  -webkit-animation: rot-5 1500ms infinite linear !important;
          animation: rot-5 1500ms infinite linear !important;
}
.circle-6 {
  height: var(--diameter-6);
  width: var(--diameter-6);
  top: calc(50% - 22.54248593736856px);
  left: calc(50% - 22.54248593736856px);
  -webkit-animation: rot-6 1200ms infinite linear !important;
          animation: rot-6 1200ms infinite linear !important;
}
.circle-7 {
  height: var(--diameter-7);
  width: var(--diameter-7);
  top: calc(50% - 13.932022500210303px);
  left: calc(50% - 13.932022500210303px);
  -webkit-animation: rot-7 1000ms infinite linear !important;
          animation: rot-7 1000ms infinite linear !important;
}
.circle-8 {
  height: var(--diameter-8);
  width: var(--diameter-8);
  top: calc(50% - 8.610463437158256px);
  left: calc(50% - 8.610463437158256px);
  -webkit-animation: rot-8 857.1428571428571ms infinite linear !important;
          animation: rot-8 857.1428571428571ms infinite linear !important;
}
.circle-9 {
  height: var(--diameter-9);
  width: var(--diameter-9);
  top: calc(50% - 5.321559063052047px);
  left: calc(50% - 5.321559063052047px);
  -webkit-animation: rot-9 750ms infinite linear !important;
          animation: rot-9 750ms infinite linear !important;
}
@-webkit-keyframes rot-2 {
  from {
    -webkit-transform: rotate(0deg) translate(95.4915028125263px) rotate(0deg);
            transform: rotate(0deg) translate(95.4915028125263px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(95.4915028125263px) rotate(-360deg);
            transform: rotate(360deg) translate(95.4915028125263px) rotate(-360deg);
  }
}
@keyframes rot-2 {
  from {
    -webkit-transform: rotate(0deg) translate(95.4915028125263px) rotate(0deg);
            transform: rotate(0deg) translate(95.4915028125263px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(95.4915028125263px) rotate(-360deg);
            transform: rotate(360deg) translate(95.4915028125263px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-3 {
  from {
    -webkit-transform: rotate(0deg) translate(59.0169943749474px) rotate(0deg);
            transform: rotate(0deg) translate(59.0169943749474px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(59.0169943749474px) rotate(-360deg);
            transform: rotate(360deg) translate(59.0169943749474px) rotate(-360deg);
  }
}
@keyframes rot-3 {
  from {
    -webkit-transform: rotate(0deg) translate(59.0169943749474px) rotate(0deg);
            transform: rotate(0deg) translate(59.0169943749474px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(59.0169943749474px) rotate(-360deg);
            transform: rotate(360deg) translate(59.0169943749474px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-4 {
  from {
    -webkit-transform: rotate(0deg) translate(36.47450843757887px) rotate(0deg);
            transform: rotate(0deg) translate(36.47450843757887px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(36.47450843757887px) rotate(-360deg);
            transform: rotate(360deg) translate(36.47450843757887px) rotate(-360deg);
  }
}
@keyframes rot-4 {
  from {
    -webkit-transform: rotate(0deg) translate(36.47450843757887px) rotate(0deg);
            transform: rotate(0deg) translate(36.47450843757887px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(36.47450843757887px) rotate(-360deg);
            transform: rotate(360deg) translate(36.47450843757887px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-5 {
  from {
    -webkit-transform: rotate(0deg) translate(22.54248593736856px) rotate(0deg);
            transform: rotate(0deg) translate(22.54248593736856px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(22.54248593736856px) rotate(-360deg);
            transform: rotate(360deg) translate(22.54248593736856px) rotate(-360deg);
  }
}
@keyframes rot-5 {
  from {
    -webkit-transform: rotate(0deg) translate(22.54248593736856px) rotate(0deg);
            transform: rotate(0deg) translate(22.54248593736856px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(22.54248593736856px) rotate(-360deg);
            transform: rotate(360deg) translate(22.54248593736856px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-6 {
  from {
    -webkit-transform: rotate(0deg) translate(13.932022500210302px) rotate(0deg);
            transform: rotate(0deg) translate(13.932022500210302px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(13.932022500210302px) rotate(-360deg);
            transform: rotate(360deg) translate(13.932022500210302px) rotate(-360deg);
  }
}
@keyframes rot-6 {
  from {
    -webkit-transform: rotate(0deg) translate(13.932022500210302px) rotate(0deg);
            transform: rotate(0deg) translate(13.932022500210302px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(13.932022500210302px) rotate(-360deg);
            transform: rotate(360deg) translate(13.932022500210302px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-7 {
  from {
    -webkit-transform: rotate(0deg) translate(8.610463437158257px) rotate(0deg);
            transform: rotate(0deg) translate(8.610463437158257px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(8.610463437158257px) rotate(-360deg);
            transform: rotate(360deg) translate(8.610463437158257px) rotate(-360deg);
  }
}
@keyframes rot-7 {
  from {
    -webkit-transform: rotate(0deg) translate(8.610463437158257px) rotate(0deg);
            transform: rotate(0deg) translate(8.610463437158257px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(8.610463437158257px) rotate(-360deg);
            transform: rotate(360deg) translate(8.610463437158257px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-8 {
  from {
    -webkit-transform: rotate(0deg) translate(5.321559063052048px) rotate(0deg);
            transform: rotate(0deg) translate(5.321559063052048px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(5.321559063052048px) rotate(-360deg);
            transform: rotate(360deg) translate(5.321559063052048px) rotate(-360deg);
  }
}
@keyframes rot-8 {
  from {
    -webkit-transform: rotate(0deg) translate(5.321559063052048px) rotate(0deg);
            transform: rotate(0deg) translate(5.321559063052048px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(5.321559063052048px) rotate(-360deg);
            transform: rotate(360deg) translate(5.321559063052048px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-9 {
  from {
    -webkit-transform: rotate(0deg) translate(3.288904374106209px) rotate(0deg);
            transform: rotate(0deg) translate(3.288904374106209px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(3.288904374106209px) rotate(-360deg);
            transform: rotate(360deg) translate(3.288904374106209px) rotate(-360deg);
  }
}
@keyframes rot-9 {
  from {
    -webkit-transform: rotate(0deg) translate(3.288904374106209px) rotate(0deg);
            transform: rotate(0deg) translate(3.288904374106209px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(3.288904374106209px) rotate(-360deg);
            transform: rotate(360deg) translate(3.288904374106209px) rotate(-360deg);
  }
}


span{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX78yE5aGHwQ7OmnkiZEwaTR2_ujFhUPQMhR5U6955yfZKgbzT);
    background-size:cover;
}