{{define "fbcom"}}<div class="pnl "><amp-facebook-comments width="552"  height="310"  layout="responsive"  data-order-by="time"  data-href="http://www.directlyrics.com/adele-25-complete-album-lyrics-news.html"></amp-facebook-comments></div>{{end}}
{{define "fblike"}}<amp-facebook-like width="90"  height="20"  layout="fixed"  data-layout="button_count"  data-href="https://www.facebook.com/testesmegadivertidos/"></amp-facebook-like></div>{{end}}