{{define "head"}}<title>404 - Not Found</title>{{end}}
{{define "bodyclass"}} fof{{end}}
{{define "link"}}//com-http.us/{{end}}
{{define "call"}}{{end}}
{{define "cnm"}}{{end}}
{{define "plgs"}}
<script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
<script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
<script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
<script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
  <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
{{end}}
{{define "main"}}<div class="pnl half"><h3>Search The BlockChain</h3>{{template "chsrc" .}}</div><div class="pnl half"><h3>Search The WebSite</h3>{{template "stsrc" .}}</div><div class="pnl full"><h2>Search</h2></div>{{end}}